menu "M5STACK controller"

#####################################
#      CHOOSE M5STACK HARDWARE      #
#####################################

choice CONTROLLER_HARDWARE
    prompt "M5STACK hardware"
    default M5STACK_STICKC_PLUS2
    config M5STACK_STICKC_PLUS2
        bool "M5STACK_STICKC_PLUS2"
    config M5STACK_CORE2
        bool "M5STACK_CORE2"
    config M5STACK_STICKC_PLUS
        bool "M5STACK_STICKC_PLUS"
endchoice
        
endmenu
